# Your bot token
BOT_TOKEN=""

# Test bot token
# TEST_BOT_TOKEN=""

# Top.gg token
# TOPGG_TOKEN=""

# Guild log webhook
# SERVER_LOG=""

# Optional local storage path
# Defaults to ./data/database.json
DB_PATH=""
